@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url(https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');


.main-header {
    background-color: transparent;
}

/*Navigation Link for Headers*/
.nav-link {
    font-family: 'PT Sans', sans-serif !important;
    color: black !important;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 1rem !important;
}

.nav-link:hover {
    font-family: 'PT Sans', sans-serif !important;
    color: black !important;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 1rem !important;
    font-weight: bolder;
}

.semi-transparent-button {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px;
    width: 80%;
    max-width: 200px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
}

.slider-font {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.semi-transparent-button:hover {
    background: #de7600;
    background: rgb(229, 122, 22);
}

.top_destination-card {
    min-width: 20rem;
    min-height: 20rem;
    border: 0;
    border-radius: 0 0 10px 10px;
}

.top_destination-card-image {
    border-radius: 10px 10px 0 0 ;
}

.top-destination {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
}

.top-destination::after {
    box-sizing: border-box;
}

.card-link {
    cursor: grab;
    font-family: 'Bebas Neue', cursive;
    color: black !important;
    font-size: 25px;
}
